@model IEnumerable<OverviewIdentity.Models.LogAuditoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Log Auditoria</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DetalhesAuditoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailUsuario)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DetalhesAuditoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailUsuario)
            </td>
           
        </tr>
}
    </tbody>
</table>
